<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h4>User Details</h4>
        <div class="card">
          <div class="card-header">Name: <%= user.name %></div>
          <div class="card-body">Email: <%= user.email %></div> 
          <div class="card-footer"><a href="/logout">Sign out</a></div>
        </div>
      </div>
</body>
</html>
